<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jastley.warmindfordestiny2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_web"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_web"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OldUserCharactersActivity" />
        <activity
            android:name=".LFG.NewLFGPostActivity"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".MainActivity"
            />
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="callback"
                    android:scheme="warmindfordestiny" />
            </intent-filter>
        </activity>
        <!-- <activity android:name=".LFG.LFGPlayerDetails"></activity> -->
        <activity
            android:name=".Characters.CharacterInventoryActivity"
            android:label="@string/title_activity_character_inventory"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>